{% extends 'DondrekielAdminBundle:admin:baseadmin-layout.html.twig' %}

{% block title %}
    Dondrekiel
{% endblock %}

{% block page_title %}Status Übersicht
{% endblock %}
{% block page_subtitle %}
{% endblock %}

{% block flash_messages %}
    Test
{% endblock %}


{% block page_content %}
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{ total_station_count }} Stationen</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="stationlist_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="stationlist" class="table table-bordered table-striped dataTable" role="grid"
                                       aria-describedby="stationlist_info">
                                    <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="stationlist" rowspan="1"
                                            colspan="1"
                                            aria-sort="ascending"
                                            aria-label="Rendering engine: activate to sort column descending"
                                            style="width: 296px;">ID
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="stationlist" rowspan="1"
                                            colspan="1"
                                            aria-sort="ascending"
                                            aria-label="Rendering engine: activate to sort column descending"
                                            style="width: 296px;">Name
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="stationlist" rowspan="1"
                                            colspan="1"
                                            aria-sort="ascending"
                                            aria-label="Browser: activate to sort column ascending"
                                            style="width: 361px;">
                                            Status
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="stationlist" rowspan="1"
                                            colspan="1"
                                            style="width: 190px;">
                                            Aktionen
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for info in station_list %}
                                        <tr role="row"
                                            class="{% if loop.index is divisible by(2) %}even{% else %}odd{% endif %}">
                                            <td class="sorting_1">{{ info.id }}</td>
                                            <td>{{ info.name }}</td>
                                            <td>{{ info.status }}</td>
                                            <td>
                                                <a href="{{ path('station_show', { 'id': info.id }) }}">
                                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                                </a>
                                                <a href="{{ path('station_edit', { 'id': info.id }) }}">
                                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Status</th>
                                        <th>Aktionen</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="dataTables_info" id="stationlist_info" role="status" aria-live="polite">
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="stationlist_paginate">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{ total_team_count }} Teams</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="teamlist_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="teamlist" class="table table-bordered table-striped dataTable" role="grid"
                                       aria-describedby="teamlist_info">
                                    <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="teamlist" rowspan="1"
                                            colspan="1"
                                            aria-sort="ascending"
                                            aria-label="Rendering engine: activate to sort column descending"
                                            style="width: 296px;">ID
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="teamlist" rowspan="1"
                                            colspan="1"
                                            aria-sort="ascending"
                                            aria-label="Rendering engine: activate to sort column descending"
                                            style="width: 296px;">Name
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="teamlist" rowspan="1"
                                            colspan="1"
                                            aria-sort="ascending"
                                            aria-label="Browser: activate to sort column ascending"
                                            style="width: 361px;">
                                            Status
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="teamlist" rowspan="1"
                                            colspan="1"
                                            style="width: 190px;">
                                            Aktionen
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for team in team_list %}
                                        <tr role="row"
                                            class="{% if loop.index is divisible by(2) %}even{% else %}odd{% endif %}">
                                            <td class="sorting_1">{{ team.username }}</td>
                                            <td>{{ team.name }}</td>
                                            <td>{{ team.status }}</td>
                                            <td>
                                                <a href="{{ path('team_show', { 'id': team.id }) }}">
                                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                                </a>
                                                <a href="{{ path('team_edit', { 'id': team.id }) }}">
                                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Status</th>
                                        <th>Aktionen</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="dataTables_info" id="teamlist_info" role="status" aria-live="polite">
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="teamlist_paginate">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Übersicht (statisch)</h3>

                    <div id="map-container" class="box-body">
                        <div id="station-map"></div>
                    </div>
                    <div class="box-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header card-header-title">
                    <h4 class="modal-title card-element-title" id="modalHeader"></h4>
                </div>
                <div class="modal-body">
                    <div class="card-content clearfix" id="modalContent">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts_inline %}
    <script>
        $(document).ready(function () {
            $('#stationlist').DataTable({pageLength: 5});
            $('#teamlist').DataTable();
        });
    </script>
{% endblock %}
