<header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md fixed-top bg-light">
        <a class="navbar-brand" href="#">
          <img src="{{ asset('images/logo_small.png') }}" alt="Dondrekiel 2018" height="35px">
        </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01" style="background: red solid;">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('dondrekiel_homepage', {'domain': 'dev.app.dondrekiel.de'}) }}">Spielplan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="{{ path('dondrekiel_home_instructions', {'domain': 'dev.app.dondrekiel.de'}) }}">Anleitung</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="{{ path('dondrekiel_home_messages', {'domain': 'dev.app.dondrekiel.de'}) }}">Nachrichten</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled"
                   href="{{ path('dondrekiel_home_contact', {'domain': 'dev.app.dondrekiel.de'}) }}">Kontakt</a>
            </li>
          </ul>
        </div>
      </nav>

    
    </header>
