<header>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="{{ asset('images/logo_small.png') }}" alt="Dondrekiel 2025" height="35px">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('dondrekiel_homepage') }}">Spielplan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="{{ path('dondrekiel_home_instructions') }}">Anleitung</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="{{ path('dondrekiel_home_messages') }}">Nachrichten</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="{{ path('dondrekiel_home_contact') }}">Kontakt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="{{ path('app_login') }}">Login</a>
            </li>
          </ul>

          </ul>
        </div>
      </div>
    </nav>

    </header>
