<h1 class="box-title">Spiel "{{ game.name }}"</h1>

<table border="0" align="left" width="100%">
    <tbody>
    <tbody>
    <tr>
        <th>Id</th>
        <td>{{ game.id }}</td>
    </tr>
    <tr>
        <th>Name</th>
        <td>{{ game.name }}</td>
    </tr>
    <tr>
        <th>Beschreibung</th>
        <td>{{ game.description }}</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>{{ game.status }}</td>
    </tr>
    <tr>
        <th>Location Longitude</th>
        <td>{{ game.locationLng }}</td>
    </tr>
    <tr>
        <th>Location Latitude</th>
        <td>{{ game.locationLat }}</td>
    </tr>


    <tr>
        <th>Status</th>
        <td>{% if game.status %}Yes{% else %}No{% endif %}</td>
    </tr>
    </tbody>
    </tbody>
</table>
<p>&nbsp;</p>

{{ game.description|raw }}