{% extends 'DondrekielAdminBundle:admin:baseadmin-layout.html.twig' %}


{% block page_title %}<a href="{{ path('team_new') }}" class="btn btn-primary">Neues Team anlegen</a>{% endblock %}
{% block page_subtitle %}{% endblock %}
{% block flash_messages %}{% endblock %}

{% block page_content %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Teams</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row">
                    <div class="col-sm-12">
                        <table id="group_list" class="table table-bordered table-striped dataTable" role="grid"
                               aria-describedby="example1_info">
                            <thead>
                            <tr>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-label="Platform(s): activate to sort column ascending" style="width: 321px;">
                                    Id
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-label="Platform(s): activate to sort column ascending" style="width: 321px;">
                                    Identifier
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-label="Platform(s): activate to sort column ascending" style="width: 321px;">
                                    Name
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-label="Platform(s): activate to sort column ascending" style="width: 321px;">
                                    Status
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-label="Platform(s): activate to sort column ascending" style="width: 321px;">
                                    Team/Station
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-label="Platform(s): activate to sort column ascending" style="width: 321px;">
                                    Aktuelle Position
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-label="Platform(s): activate to sort column ascending" style="width: 321px;">
                                    Aktionen
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for team in teams %}
                                <tr>
                                    <td>{{ team.id }}</td>
                                    <td>{{ team.username }}</td>
                                    <td>{{ team.name }}</td>
                                    <td>{{ team.status }}</td>
                                    <td>{% if team.isTeam %}Team{% else %}Station{% endif %}</td>
                                    <td>{#{ group.currentLevel }#}</td>
                                    <td>
                                        <a href="{{ path('team_show', { 'id': team.id }) }}">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                        </a>
                                        <a href="{{ path('team_edit', { 'id': team.id }) }}">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts_inline %}
    <script>$(document).ready(function () {
            $('#group_list').DataTable();
        });</script>
{% endblock %}

