{% extends 'DondrekielAdminBundle:admin:baseadmin-layout.html.twig' %}

{% block page_title %}{% endblock %}
{% block page_subtitle %}{% endblock %}
{% block flash_messages %}{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-6">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Team "{{ team.name }}"</h3>

                    <div class="box-body">


                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ team.id }}</td>
                            </tr>
                            <tr>
                                <th>Identifier</th>
                                <td>{{ team.username }}</td>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <td>{{ team.name }}</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{{ team.email }}</td>
                            </tr>
                            <tr>
                                <th>Passwort</th>
                                <td>{{ team.password }}</td>
                            </tr>
                            <tr>
                                <th>Beschreibung</th>
                                <td>{{ team.comment }}</td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <td>{{ team.status }}</td>
                            </tr>
                            <tr>
                                <th>Ist Team</th>
                                <td>{{ team.isTeam }}</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>

                    <div class="box-body">
                        <div class="form-group">
                            <a href="{{ path('team_index') }}" class="btn-primary btn">Zurück zur Liste</a>
                        </div>
                        <div class="form-group">
                            <a href="{{ path('team_edit', { 'id': team.id }) }}"
                               class="btn-primary btn">Bearbeiten</a>
                        </div>
                        <div class="form-group">
                            {{ form_start(delete_form) }}
                            <input type="submit" value="Löschen" class="btn-danger btn">
                            {{ form_end(delete_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
